{
    servers {
        trusted_proxies static private_ranges
    }
}

:80 {
    root * /srv
    encode gzip
    file_server


    handle_errors {
        respond "{err.status_code} {err.status_text}"
    }

}
